[submodule "dependencies/forge-std"]
	path = dependencies/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dependencies/openzeppelin-contracts"]
	path = dependencies/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dependencies/v4-core"]
	path = dependencies/v4-core
	url = https://github.com/Uniswap/v4-core
